nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    ul {
        display: flex;
        justify-content: space-between;
        flex-basis: 55%;
    };
    .home, .blog, .contact {
        color: $accentTextColor;
    }
}

.fa-shopping-bag {
    position: relative;
}

.fa-shopping-bag::after {
    content: '2';
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: $darkThemeTextAccent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accentTextColor;
    position: absolute;
    top: 9px;
    left: 11px;
} 


.fa.fa-bars {
    display: none;
    font-size: 5rem;
    width: 100%;
    text-align: right;
}

// Media queries

@media (max-width: 1200px) {
    nav {
        ul {
            flex-basis: 65%;
        }
    }
}

@media (max-width: 1000px) {
    nav {
        h1 {
            font-size: 3rem;
        }
        ul {
            flex-basis: 75%;
        }
    }
}

@media (max-width: 890px) {
    nav {
        position: relative;
        ul {
            display: none;
        };
        h1 {
            font-size: 4.6rem;
        }
    };

    .fa.fa-bars {
        display: block;
        position: absolute;
        top: 34px;
        right: 40px;
    };

    header {
        height: 65vh;
        background-position: center;
    }
}

@media (max-width: 480px) {
    nav {
        h1 {
            font-size: 3rem;
        }
    };
}