h1, p, a {
    color: $mainTextColor;
}

h1 {
    font-size: 4.6rem;
    line-height: 24px;
    letter-spacing: 1.1px;
}

h1, h2, h3, h4, nav li, button a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h2, nav li, p {
    font-size: 1.8rem;
    line-height: 36px;
    letter-spacing: 0.5px;
}

h3, button a {
    font-size: 1.8rem;
}

p, blockquote {
    font-family: 'Lora', serif;
}

blockquote {
    font-size: 2.4rem;
    line-height: 36px;
    letter-spacing: 0.6px;
}

footer h3, h4 {
    line-height: 24px;
    letter-spacing: 0.5px;
}

footer h3, footer a {
    color: $accentTextColor;
}

h4, button, button a, footer i {
    color: $darkThemeTextAccent;
}

footer p {
    color: $darkThemeText;
    font-size: 1.3rem;
    line-height: 44px;
    letter-spacing: 0.3px;
}

a {
    text-decoration: none;
}