// Font Colors
h1, p, a {
    color: $mainTextColor;
}

footer h3, footer a {
    color: $accentTextColor;
}

h4, button a, footer i {
    color: $darkThemeTextAccent;
}

.menuItems p {
    color: $darkThemeText;
}

// Font Families
h1, h2, h3, h4, nav li, button a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.copyright p, .caption, span {
    font-family: 'Raleway', sans-serif;
}

p, blockquote, footer input::placeholder {
    font-family: 'Lora', serif;
}

// General Font Styles
h1 {
    @include fontStyle(4.6rem, 24px, 1.1px)
}

h2, .contactInfo h3 {
    @include fontStyle(2.4rem, 36px, 0.6px)
}

h2 {
    letter-spacing: 3px;
}

h3, blockquote p {
    font-size: 1.8rem;
}

nav li {
    @include fontStyle(1.6rem, 36px, 0.5px)
}

h4 {
    @include fontStyle(1.8rem, 24px, 0.5px)
}

footer h3 {
    font-size: 3rem;
}

p, button a, .footerInfo h4 {
    @include fontStyle(1.3rem, 27px, 0.5px)
}

a {
    text-decoration: none;
}

blockquote {
    font-style: italic;
    font-size: 2rem;
}

footer p, footer input::placeholder {
    color: $darkThemeText;
    @include fontStyle(1.1rem, 21px, 0.3px)
}

footer input::placeholder {
    font-style: italic;
}

// Blog Page Font Styles
.featureBlogPost h2 {
    font-size: 2.6rem;
    letter-spacing: 1px;
}

.caption {
    font-size: 1.1rem;
}

.blog {
    h3, h4 {
        font-size: 1.4rem;
    }
    h4 {
    color: $mainTextColor;
    };
}

.tags {
    p, i {
        color: $darkThemeText;
    }
}

.relatedPosts {
    h4 {
        font-size: 1.6rem;
    };
    p.caption {
        font-family: 'Lora', serif;
        color: $darkThemeText;
    };
    a {
        font-family: 'Raleway', sans-serif;
    }
}

.commentsText {
    span {
        text-transform: none;
    };
    span, .caption {
        font-weight: 700;
    }
}

.blog.form {
    p {
        font-family: 'Lora', serif;
        font-style: italic;
        color: $darkThemeText;
    };
    input::placeholder,
    textarea::placeholder {
        font-family: 'Lora', serif;
    };
    button {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.3rem;
        padding: 15px 30px;
    }
}

// Contact Page Font Styles

.mainContact h2 {
    letter-spacing: 1px;
};

.contactForm {
    input::placeholder,
    textarea::placeholder {
        font-family: 'Lora', serif;
    }
    button {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        color: $accentTextColor;
        text-transform: uppercase;
    }
}