h1, p, a {
    color: $mainTextColor;
}

footer h3, footer a {
    color: $accentTextColor;
}

h4, button a, footer i {
    color: $darkThemeTextAccent;
}

.menuItems p {
    color: $darkThemeText;
}

h1, h2, h3, h4, nav li, button a, span {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

p, blockquote{
    font-family: 'Lora', serif;
}

h1 {
    @include fontStyle(4.6rem, 24px, 1.1px)
}

h2, blockquote, .contactInfo h3 {
    @include fontStyle(2.4rem, 36px, 0.6px)
}

h2 {
    letter-spacing: 3px;
}

h3 {
    font-size: 1.8rem;
}

nav li {
    @include fontStyle(1.8rem, 36px, 0.5px)
}

footer h3, h4 {
    @include fontStyle(1.8rem, 24px, 0.5px)
}

p, button a, .footerInfo h4 {
    @include fontStyle(1.5rem, 27px, 0.5px)
}

a {
    text-decoration: none;
}

blockquote {
    font-style: italic;
}

footer p {
    color: $darkThemeText;
    @include fontStyle(1.1rem, 21px, 0.3px)
}