html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body, h1, h2, h3, h4, p, nav, ul, li, button {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

button {
    @include buttonStyle($darkThemeTextAccent, $buttonColor);
}

.wrapper {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}