@import '../layout/header';
@import '../layout/footer';

.blogHeader {
    @include backgroundImageStyle('../assets/blog-1.jpeg', 65vh);
    background-position: center;
}

section.blog {
    border-bottom: 0.5px solid $footerBorderColor;
}

// Featured Blog Post
.featureBlogPost {
    margin-top: 150px;
        div {
            margin-top: 30px;
        }
        p {
            margin-bottom: 25px;
        }
}

// Blog Post Tags
.tags {
    padding: 20px 0 20px 0;
}

.tags > div {
    display: flex;
        h4 {
            margin-right: 10px;
        }
        i {
            font-size: 1.3rem;
            margin-right: 15px;
        }
}

.tags div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

// Author
.author {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 50px 0 50px 0;
}

.author div:nth-child(2) {
    background-color: $blogSectionColor;
    padding: 35px;
        h4 {
            margin-bottom: 15px;
        }
}

// Related Posts
.relatedPostsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.relatedPosts {
    article {
        display: block;
    }
    h3 {
        padding: 25px 0 25px 0;
    }
}

.articleCaption {
    display: flex;
}

.relatedPostsGrid div:nth-child(2) {
    padding: 25px 0 25px 0;
}

// Comments

.blog.comments {
    margin-bottom: 40px;
    border-bottom: none;
}

.comments {
    h3 {
        padding: 25px 0 25px 0;
    }
}
.commentsGrid {
    display: grid;
    grid-template-columns: 1fr 18fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}
.commentsGrid div:nth-child(2),
.commentsGrid div:nth-child(4) {
    background-color: $blogSectionColor;
}

.commentsText {
    padding: 15px;
    position: relative;
        i {
            font-size: 2rem;
            color: $blogSectionColor;
            position: absolute;
            top: 10px;
            left: -7px;
        }
}

// Comment Form
.blogForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 20px 0 150px 0;
        input {
            height: 40px;
            margin-bottom: 15px;
        };
        input, textarea {
            border: 0.5px solid $blogSectionColor;
            padding: 10px;
        };
        textarea {
            width: 100%;
            resize: none;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: calc(300% + 60px);
                button {
                    margin-top: 15px;
                }
        }
}