@import '../layout/header';
@import '../layout/footer';

// Skip to Content Nav
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    .skipLink:focus {
        left: 0;
    }
}

.blogHeader {
    @include backgroundImageStyle('../assets/blog-1.jpeg', 65vh);
    background-position: center;
}

section.blog {
    border-bottom: 0.5px solid $footerBorderColor;
}

// Featured Blog Post
.featureBlogPost {
    margin-top: 150px;
    div {
        margin-top: 30px;
    }
    p {
        margin-bottom: 25px;
    }
}

// Blog Post Tags
.tags {
    padding: 20px 0 20px 0;
    div:nth-child(2) {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

.tags > div {
    display: flex;
    h4 {
        margin-right: 10px;
    }
    i {
        font-size: 1.3rem;
        margin-right: 15px;
    }
}

// Author
.author {
    @include gridStyle(1fr 4fr, 1fr, 0);
    padding: 50px 0 50px 0;
    div:nth-child(2) {
        background-color: $blogSectionColor;
        padding: 35px;
        h4 {
            margin-bottom: 15px;
        }
    }
}

// Related Posts
.relatedPostsGrid {
    @include gridStyle(repeat(3, 1fr), 1fr, 25px);
    div:nth-child(2) {
        padding: 25px 0 25px 0;
    }
}

.relatedPosts {
    article {
        display: block;
    }
    h3 {
        padding: 25px 0 25px 0;
    }
}

.articleCaption {
    display: flex;
}

// Comments

.blog.comments {
    margin-bottom: 40px;
    border-bottom: none;
    h3 {
        padding: 25px 0 25px 0;
    }
}

.commentsGrid {
    @include gridStyle(1fr 18fr, auto, 25px);
    div:nth-child(2),
    div:nth-child(4) {
        background-color: $blogSectionColor;
    }
}

.commentsText {
    padding: 15px;
    position: relative;
    i {
        font-size: 2rem;
        color: $blogSectionColor;
        position: absolute;
        top: 10px;
        left: -7px;
    }
}

// Comment Form
.blogForm {
    @include gridStyle(repeat(3, 1fr), 1fr, 0);
    column-gap: 30px;
    margin: 20px 0 150px 0;
    input {
        height: 40px;
        margin-bottom: 15px;
    };
    input, textarea {
        border: 0.5px solid $blogSectionColor;
        padding: 10px;
    };
    textarea {
        width: 100%;
        resize: none;
    };
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(300% + 60px);
            button {
                margin-top: 15px;
            }
    }
}

// Media queries

@media (max-width: 940px) {
    .featureBlogPost {
        padding-top: 50px;
        margin-top: 0;
    };

    .blog h3, .form h4 {
        font-size: 2rem;
    };

    .author {
        display: block;
        padding-top: 30px;
        div:first-child {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
    };

    .relatedPostsGrid {
        grid-template-columns: 1fr 1fr;
    };

    .commentsGrid {
        grid-template-columns: 1fr 10fr;
    };

    .blogForm {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
        div {
            width: 100%;
        };
        input::placeholder,
        textarea::placeholder {
            font-size: 1.3rem;
        }
    };
}

@media (max-width: 600px) {
    .caption {
        font-size: 1.4rem;
    }

    .relatedPostsGrid {
        display: block;
        article div:nth-child(odd) {
            display: flex;
            justify-content: center;
        }
        article div:nth-child(even) {
            text-align: center;
        }
    }

    .commentsGrid {
        grid-template-columns: 1fr 5fr;
    }
}