@import '../layout/header';
@import '../layout/footer';

header {
    @include backgroundImageStyle('../assets/home-1.jpeg', 90vh);
}

// Food Feature Section
.foodSection, .menu, .menuItems {
    @include gridStyle(1fr 1fr, $gridRows, $gap)
}

.mostPopularRecipes {
    text-align: center;
    div {
        width: 72%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            p {
                margin: 50px;
            }
    }
}

.menu {
    background-color: $asideBackgroundColor;
    article div:first-child {
    width: 50px;
    flex-shrink: 0;
    }
}

.menuItems {
    @include gridStyle($gridColumns, repeat(3, 1fr), 30px);
    grid-auto-flow: column;
    width: 75%;
    margin: 100px auto;
}

article {
    display: flex;
    i {
        font-size: 3rem;
    };
    h3 {
        margin-bottom: 10px;
    }
}

// Our Restaurants
.restaurants {
    margin: 200px 0 150px 0;
    div:nth-child(1) img {
        margin: 0 auto;
    };
    div:nth-child(1) {
        position: relative;
    }
}

.restaurantsText {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 75px;
    h2 {
        margin-bottom: 50px;
    }
}

.logo {
    position: absolute;
    top: -39%;
    right: 16%;
}

// Image grid
.imageGallery {
    @include gridStyle(repeat(3, 1fr), 1fr 1fr, $gap)
}

// Hungry Clients
.testimonials {
    background-color: $accentColor;
    padding: 200px 0 150px 0;
    text-align: center;
}

blockquote {
    margin-bottom: 50px;
    position: relative;
}

blockquote i,
.fa-angle-left {
    color: $asideBackgroundColor;
}

.fa-angle-right {
    color: $darkThemeTextAccent;
}

.fa-quote-left, .fa-quote-right {
    font-size: 4.5rem;
    position: absolute;
}

.fa-quote-left {
    top: -17%;
    left: -9%;
}

.fa-quote-right {
    bottom: -9%;
    right: -9%;
}

.fa-angle-left, .fa-angle-right {
    font-size: 3rem;
    padding-right: 30px;
}

// Green bar positioning
.mostPopularRecipes > div > h2,
.restaurantsText h2,
.testimonials h2 {
    position: relative;
    padding-bottom: 15px;
}

.mostPopularRecipes > div > h2::after,
.restaurants div:nth-child(2) h2::after,
.testimonials h2::after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: $accentTextColor;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
}

// Media queries

@media (max-width: 1130px) {
    .foodSection {
        display: block;
        position: relative;
        div:nth-child(2) {
            width: 50%;
            img {
                padding-left: 50px;
            }
        }
    }

    .mostPopularRecipes {
        margin: 50px;
    }

    .menu {
        display: block;
        position: relative;
        div:first-child {
            img {
            position: absolute;
            width: 50%;
            top: -400px;
            left: 470px;
            }
        }
    }

    .menuItems {
        padding: 100px 0;
    }

    .restaurants {
        margin: 100px 0;
    }

    .testimonials {
        .wrapper {
            width: 65%;
        }
    }
}

@media (max-width: 940px) {
    .foodSection div:nth-child(2) {
        width: 100%;
        img {
            padding: 0;
        };
    };

    .menu div:first-child img {
        position: initial;
        width: 100%;
    }

    .menuItems {
        padding: 0 0 50px 0;
    }

    .logo {
        width: 125px;
        top: -25%;
        right: 10%;
    }

    .testimonials {
        padding: 100px 0;
    }
}

@media (max-width: 768px) {
    .mostPopularRecipes {
        div {
            width: 100%;
            p {
                margin: 50px 0;
            }
        };
    }

    .menuItems {
        display: block;
        margin-top: 75px;
        padding-bottom: 75px;
        article {
            margin-bottom: 50px;
        };
        article:last-child {
            margin: 0;
        }
    }

    .restaurants {
        margin: 50px 0 100px 0;
        .restaurantsText {
            width: 100%;
        }
    }

    .imageGallery {
        grid-template-columns: 1fr 1fr;
    }

    .testimonials {
        padding: 80px;
        .wrapper {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .menuItems {
        margin: 50px auto;
        padding-bottom: 50px;
    }

    .restaurants {
        margin: 45px 0;
    }

    .logo {
        width: 100px;
        top: -10%;
        right: 10%;
    }

    .restaurantsText {
        margin-top: 45px;
    }

    .testimonials {
        padding: 50px;
    }

    .fa-quote-left {
    top: -10%;
    left: -20%;
    }

    .fa-quote-right {
    bottom: -10%;
    right: -20%;
    }
}