// Font colors
$mainTextColor: #2E2E2E;
$accentTextColor: #64a604;
$darkThemeText: #999999;
$darkThemeTextAccent: #F6F6F6;

// Background colors
$accentColor: #dded9a;
$darkThemeColor: #2E2E2E;

// Button style
$buttonColor: #64a604;